

body.app-body {
  background-image: url(https://media.istockphoto.com/id/663894440/video/shibuya-crossing-time-lapse.jpg?s=640x640&k=20&c=DhqzH3GFW5GTrDi5O27LOkRYFP-p3jgG0ewXMa5QfPo=);
  background-size: cover;
  color: white;
}

.container.app {
  width: 70vw;
  margin: 0 auto;
  padding-top: 40px;
}

.app-section {
  min-height: 300px;
  padding: 10px;
  background: #000000b5;
}
