

body.app-body {
  background-image: url(https://media.istockphoto.com/id/663894440/video/shibuya-crossing-time-lapse.jpg?s=640x640&k=20&c=DhqzH3GFW5GTrDi5O27LOkRYFP-p3jgG0ewXMa5QfPo=);
  background-size: cover;
  color: white;
}

.container.app {
  width: 70vw;
  margin: 0 auto;
  padding-top: 40px;
}

.app-section {
  min-height: 300px;
  padding: 10px;
  background: #000000b5;
}

.error {
  padding: 5px;
  background-color: #ff0000a3;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.watchlist-select-container {
  margin-top: 10px;
}

select {
  width: 100%;
  height: 30px;
  border-radius: 6px;
  padding: 0 6px;
  color: #2ba92b;
}

.watchlist-coin {
  width: 100%;
  background-color: #ffffff38;
  margin: 5px 0;
  border-radius: 6px;
  padding: 0 10px;
  height: 30px;
}

.watchlist-coin-symbol {
  width: calc(100% - 20px);
  display: inline-block;
}

.watchlist-coin-del {
  padding: 5px;
  cursor: pointer;
}

.watchlist-coin-del:hover {
  color: red;
}

.coin-to-add {
  display: flex;
  margin-top: 10px;
}
.coin-to-add select {
  flex: 1;
}
.coin-to-add input, .coin-to-add button {
  width: 60px;
  margin-left: 6px;
  border-radius: 6px;
  height: 30px;
  border: 0;
}

.coin-to-add input {
  padding: 0 6px;
  color: #2ba92b;
}

.coin-to-add button {
  background-color: #6faa84;
  color: white;
  border: 0
}

.wallet-coin {
  display: flex;
  padding: 4px 8px;
  background-color: #ffffff38;
  margin-top: 5px;
  border-radius: 6px;
}

.wallet-coin-symbol {
  flex: 1;
}

.wallet-coin-quantity {
  width: 84px;
}

.wallet-coin-del {
  width: 30px;
  text-align: center;
}

